body {
    background: #FFC0CB;
}
.col-1 {
    height: 250px;
    border: 1px solid black;
}
.col-12 {
    height: 250px;
    border: 1px solid black;
}
.col-2 {
    height: 250px;
    border: 1px solid black;
}
.col-8 {
    height: 250px;
    border: 1px solid black;
}
.col-6 {
    height: 250px;
    border: 1px solid black;
}
.col-2-nested {
    border: 1px solid white;
    background: #F07F80;
    height: 237px;
}
.col-8-nested {
    border: 1px solid white;
    background: #F07F80;
    height: 237px;
}
.col-6-nested {
    border: 1px solid white;
    background: #F07F80;
    height: 237px;
}


